/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html, body{
    height: 100%;
    width:100%;
    overflow: hidden;
    margin: 0;
  }
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.nennen,div img{
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
}
.hoca .hoconca nav .menu ul{
    position: relative;
    top: 0px;
    position: fixed;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    z-index: 1010;
    text-align: left;
} 

.menu ul li{
    padding: 20px 40px;
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
    border-radius: 15px;
}
.menu ul li a{
    margin: 0 30px;
}
.menu ul li:hover{
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
}
.nav{
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
nav div .ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.dautien{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    top: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
    border-radius: 10px;
    display: none;
    z-index: 1010;
}

.thuhai{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    top: 100%;
    text-align: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
    display: none;
    z-index: 1010;
}

.hoconca nav .menu ul li:nth-child(1):hover .dautien{
    display: -webkit-block;
}
.hoconca nav .menu ul li:nth-child(2):hover .thuhai{
    display: -webkit-block;
}
.loa .thuhai ul li audio source{
    z-index: 1111;
}



/* Trung */
/* Animation con cua */
#-webkit-cua{
    position: relative;
    width: 270px;
    z-index: 999;
    -webkit-animation-name: cua;
            animation-name: cua;
    -webkit-animation-duration: 30s;
            animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
}
@-webkit-keyframes cua {
    0%{
        -webkit-transform: translateX(0px);
    }
    25%{
        -webkit-transform: translateX(240%);
    }
    50%{
        -webkit-transform: translateY(300px);
    }
    75%{
        -webkit-transform: translateX(100%);
    }
    100%{
        -webkit-transform: translate3d(240%,300px,0px);
    }
}
@keyframes cua {
    0%{
        -webkit-transform: translateX(0px);
    }
    25%{
        -webkit-transform: translateX(240%);
    }
    50%{
        -webkit-transform: translateY(300px);
    }
    75%{
        -webkit-transform: translateX(100%);
    }
    100%{
        -webkit-transform: translate3d(240%,300px,0px);
    }
}

/* Animation con muc */
#muc{
    position: relative;
    width: 500px;
    z-index: 999;
    -webkit-animation-name: muc;
            animation-name: muc;
    -webkit-animation-duration: 40s;
            animation-duration: 40s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
}
@-webkit-keyframes muc {
    0%{
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
    25%{
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }
    50%{
        -webkit-transform: translate3d(240%,-100px,0px);
                transform: translate3d(240%,-100px,0px);
    }
    75%{
        -webkit-transform: translate3d(0%,-200px,0px);
                transform: translate3d(0%,-200px,0px);
    }
    100%{
        -webkit-transform: translate3d(240%,0%,0px);
                transform: translate3d(240%,0%,0px);
    }
}
@keyframes muc {
    0%{
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
    25%{
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }
    50%{
        -webkit-transform: translate3d(240%,-100px,0px);
                transform: translate3d(240%,-100px,0px);
    }
    75%{
        -webkit-transform: translate3d(0%,-200px,0px);
                transform: translate3d(0%,-200px,0px);
    }
    100%{
        -webkit-transform: translate3d(240%,0%,0px);
                transform: translate3d(240%,0%,0px);
    }
}




/* Vy */
/* Animation con camap */
#camap{
    position: relative;
    width: 250px;
    z-index: 999;
    -webkit-animation-name: camap;
            animation-name: camap;
    -webkit-animation-duration: 30s;
            animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
}
@-webkit-keyframes camap {
    0%{
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
    25%{
        -webkit-transform: translate3d(100%,-420px,0px);
                transform: translate3d(100%,-420px,0px);
    }
    50%{
        -webkit-transform: translate3d(250%,70px,0px);
                transform: translate3d(250%,70px,0px);
    }
    75%{
        -webkit-transform: translate3d(400%,-400px,0px);
                transform: translate3d(400%,-400px,0px);
    }
    100%{
        -webkit-transform: translate3d(410%,-100px,0px);
                transform: translate3d(410%,-100px,0px);
    }
}
@keyframes camap {
    0%{
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
    25%{
        -webkit-transform: translate3d(100%,-420px,0px);
                transform: translate3d(100%,-420px,0px);
    }
    50%{
        -webkit-transform: translate3d(250%,70px,0px);
                transform: translate3d(250%,70px,0px);
    }
    75%{
        -webkit-transform: translate3d(400%,-400px,0px);
                transform: translate3d(400%,-400px,0px);
    }
    100%{
        -webkit-transform: translate3d(410%,-100px,0px);
                transform: translate3d(410%,-100px,0px);
    }
}

/* Animation bachtuoc */
#bachtuoc{
    position: relative;
    width: 250px;
    z-index: 999;
    -webkit-animation-name: bachtuoc;
            animation-name: bachtuoc;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
}
@-webkit-keyframes bachtuoc{
    0%{
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
    25%{
        -webkit-transform: translate3d(300%,-420px,0px);
                transform: translate3d(300%,-420px,0px);
    }
    50%{
        -webkit-transform: translate3d(350%,0px,0px);
                transform: translate3d(350%,0px,0px);
    }
    75%{
        -webkit-transform: translate3d(200%,-300px,0px);
                transform: translate3d(200%,-300px,0px);
    }
    100%{
        -webkit-transform: translate3d(310%,-100px,0px);
                transform: translate3d(310%,-100px,0px);
    }
}
@keyframes bachtuoc{
    0%{
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
    25%{
        -webkit-transform: translate3d(300%,-420px,0px);
                transform: translate3d(300%,-420px,0px);
    }
    50%{
        -webkit-transform: translate3d(350%,0px,0px);
                transform: translate3d(350%,0px,0px);
    }
    75%{
        -webkit-transform: translate3d(200%,-300px,0px);
                transform: translate3d(200%,-300px,0px);
    }
    100%{
        -webkit-transform: translate3d(310%,-100px,0px);
                transform: translate3d(310%,-100px,0px);
    }
}



/* Nhung */
/* Animation conrua */
#rua{
    position: relative;
    width: 250px;
    z-index: 999;
    -webkit-animation-name: rua;
            animation-name: rua;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
}
@-webkit-keyframes rua {
    0%{
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
    25%{
        -webkit-transform: translate3d(300%,0px,0px);
                transform: translate3d(300%,0px,0px);
    }
    50%{
        -webkit-transform: translate3d(350%,-400px,0px);
                transform: translate3d(350%,-400px,0px);
    }
    75%{
        -webkit-transform: translate3d(200%,-300px,0px);
                transform: translate3d(200%,-300px,0px);
    }
    100%{
        -webkit-transform: translate3d(100%,-100px,0px);
                transform: translate3d(100%,-100px,0px);
    }
}
@keyframes rua {
    0%{
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
    25%{
        -webkit-transform: translate3d(300%,0px,0px);
                transform: translate3d(300%,0px,0px);
    }
    50%{
        -webkit-transform: translate3d(350%,-400px,0px);
                transform: translate3d(350%,-400px,0px);
    }
    75%{
        -webkit-transform: translate3d(200%,-300px,0px);
                transform: translate3d(200%,-300px,0px);
    }
    100%{
        -webkit-transform: translate3d(100%,-100px,0px);
                transform: translate3d(100%,-100px,0px);
    }
}

/* Animation botkhi */
#ca{
    position: relative;
    width: 250px;
    z-index: 999;
    -webkit-animation-name: botkhi;
            animation-name: botkhi;
    -webkit-animation-duration: 30s;
            animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
}
@-webkit-keyframes botkhi {
    0%{
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
    25%{
        -webkit-transform: translate3d(100%,-400px,0px);
                transform: translate3d(100%,-400px,0px);
    }
    50%{
        -webkit-transform: translate3d(150%,-200px,0px);
                transform: translate3d(150%,-200px,0px);
    }
    75%{
        -webkit-transform: translate3d(300%,-400px,0px);
                transform: translate3d(300%,-400px,0px);
    }
    100%{
        -webkit-transform: translate3d(100%,-200px,0px);
                transform: translate3d(100%,-200px,0px);
    }
}
@keyframes botkhi {
    0%{
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
    25%{
        -webkit-transform: translate3d(100%,-400px,0px);
                transform: translate3d(100%,-400px,0px);
    }
    50%{
        -webkit-transform: translate3d(150%,-200px,0px);
                transform: translate3d(150%,-200px,0px);
    }
    75%{
        -webkit-transform: translate3d(300%,-400px,0px);
                transform: translate3d(300%,-400px,0px);
    }
    100%{
        -webkit-transform: translate3d(100%,-200px,0px);
                transform: translate3d(100%,-200px,0px);
    }
}