
html, body{
    position: absolute;
    height: 100%;
    width:100%;
    overflow: hidden;
    margin: 0;
}
html{
    font-size: 100%;
}
#animal {
    height: 100%;
    width:100%;
    overflow: hidden;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.nennen,div img{
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
}
.hoca .hoconca nav .menu ul{
    position: relative;
    top: 0px;
    position: fixed;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    z-index: 1010;
    text-align: left;
} 

.menu ul li{
    padding: 20px 40px;
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
    border-radius: 15px;
}
.menu ul li a{
    margin: 0 30px;
}
.menu ul li:hover{
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
}
.nav{
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
nav div .ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.dautien{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    top: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
    border-radius: 10px;
    display: none;
    z-index: 1010;
}

.thuhai{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    top: 100%;
    text-align: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
    display: none;
    z-index: 1010;
}

.hoconca nav .menu ul li:nth-child(1):hover .dautien{
    display: block;
}
.hoconca nav .menu ul li:nth-child(2):hover .thuhai{
    display: block;
}
.loa .thuhai ul li audio source{
    z-index: 1111;
}




#cua{
    position: relative;
    width: 100px;
    z-index: 200;
    -webkit-animation-name: cua;
            animation-name: cua;
    -webkit-animation-duration: 40s;
            animation-duration: 40s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-timing-function: normal;
            animation-timing-function: normal;
    
}
@-webkit-keyframes cua {
    0%{
        left: 0px; top: 30rem;
    }
    10%{
        left: 800px; top: 30rem;
    }
    12%{
        left: 500px; top: 30rem;
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
    }
    17%{
        left: 1300px; top: 30rem;
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
    }
    20%{
        left: 1500px; top: 30rem;
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
    }
    50%{
        left: 1500px; top: 30rem;
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
    }
    70%{
        left: 500px; top: 30rem;
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
    }
    75%{
        left: 800px; top: 30rem;
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
    }
    95%{
        left: 0px; top: 30rem;
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
    }
    100%{
        left: 0px; top: 30rem;
    }


}
@keyframes cua {
    0%{
        left: 0px; top: 30rem;
    }
    10%{
        left: 800px; top: 30rem;
    }
    12%{
        left: 500px; top: 30rem;
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
    }
    17%{
        left: 1300px; top: 30rem;
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
    }
    20%{
        left: 1500px; top: 30rem;
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
    }
    50%{
        left: 1500px; top: 30rem;
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
    }
    70%{
        left: 500px; top: 30rem;
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
    }
    75%{
        left: 800px; top: 30rem;
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
    }
    95%{
        left: 0px; top: 30rem;
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
    }
    100%{
        left: 0px; top: 30rem;
    }


}

#muc{
    position: relative;
    width: 250px;
    -webkit-animation-name: muc;
            animation-name: muc;
    -webkit-animation-duration: 40s;
            animation-duration: 40s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-timing-function: normal;
            animation-timing-function: normal;
}
@-webkit-keyframes muc {
    0%{
        top: 500px; left: 0px;
    }
    10%{
        top: 0px; left: 0px;
    }
    25%{
        top: 0px; left: 0px;
        -webkit-transform: rotateZ(90deg);
                transform: rotateZ(90deg);
    }
    35%{
        top: 0px; left: 1200px;
        -webkit-transform: rotateZ(90deg);
                transform: rotateZ(90deg);
    }
    50%{
        top: 0px; left: 1200px;
        -webkit-transform: rotateZ(180deg);
                transform: rotateZ(180deg);
    }
    60%{
        top: 500px; left: 1200px;
        -webkit-transform: rotateZ(180deg);
                transform: rotateZ(180deg);
    }
    75%{
        top: 500px; left: 1200px;
        -webkit-transform: rotateZ(270deg);
                transform: rotateZ(270deg);
    }
    85%{
        top: 500px; left: 0px;
        -webkit-transform: rotateZ(270deg);
                transform: rotateZ(270deg);
    }
    100%{
        top: 500px; left: 0px;
    }
}
@keyframes muc {
    0%{
        top: 500px; left: 0px;
    }
    10%{
        top: 0px; left: 0px;
    }
    25%{
        top: 0px; left: 0px;
        -webkit-transform: rotateZ(90deg);
                transform: rotateZ(90deg);
    }
    35%{
        top: 0px; left: 1200px;
        -webkit-transform: rotateZ(90deg);
                transform: rotateZ(90deg);
    }
    50%{
        top: 0px; left: 1200px;
        -webkit-transform: rotateZ(180deg);
                transform: rotateZ(180deg);
    }
    60%{
        top: 500px; left: 1200px;
        -webkit-transform: rotateZ(180deg);
                transform: rotateZ(180deg);
    }
    75%{
        top: 500px; left: 1200px;
        -webkit-transform: rotateZ(270deg);
                transform: rotateZ(270deg);
    }
    85%{
        top: 500px; left: 0px;
        -webkit-transform: rotateZ(270deg);
                transform: rotateZ(270deg);
    }
    100%{
        top: 500px; left: 0px;
    }
} 





#camap{
    position: absolute;
    top: 450px;
    left: -700px;
    width: 800px;
    z-index: 100;
    -webkit-animation-name: camap;
            animation-name: camap;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    animation-direction:reverse; 
    -webkit-animation-timing-function: linear; 
            animation-timing-function: linear;
}
@-webkit-keyframes camap {
    0% {  
    }
    80% {
    }
    100% {
    -webkit-transform: translateX(2100px);
            transform: translateX(2100px);
    }
}
@keyframes camap {
    0% {
      
    }
    80% {

    }
    100% {
    -webkit-transform: translateX(2100px);
            transform: translateX(2100px);
    }
}

#bachtuoc{
    position: absolute;
    width: 300px;
    bottom: 100%;
    left: -200px;
    z-index: 9;
    -webkit-animation-name: bachtuoc;
            animation-name: bachtuoc;
    -webkit-animation-duration: 30s;
            animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction:alternate;
            animation-direction:alternate;
    -webkit-animation-timing-function: ease-in-out ;
            animation-timing-function: ease-in-out ;
}
@-webkit-keyframes bachtuoc{
    0%{
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
    25%{
        -webkit-transform: translate3d(300%,0px,0px);
                transform: translate3d(300%,0px,0px);
    }
    50%{
        -webkit-transform: translate3d(0%, -100px,0px);
                transform: translate3d(0%, -100px,0px);
    }
    75%{
        -webkit-transform: translate3d(300%, 0px,0px);
                transform: translate3d(300%, 0px,0px);
    }
    100%{
        -webkit-transform: translate3d(0%,-100px,0px);
                transform: translate3d(0%,-100px,0px);
        opacity: 0.8;
    }
}
@keyframes bachtuoc{
    0%{
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
    25%{
        -webkit-transform: translate3d(300%,0px,0px);
                transform: translate3d(300%,0px,0px);
    }
    50%{
        -webkit-transform: translate3d(0%, -100px,0px);
                transform: translate3d(0%, -100px,0px);
    }
    75%{
        -webkit-transform: translate3d(300%, 0px,0px);
                transform: translate3d(300%, 0px,0px);
    }
    100%{
        -webkit-transform: translate3d(0%,-100px,0px);
                transform: translate3d(0%,-100px,0px);
        opacity: 0.8;
    }
}





#rua{
    position: relative;
    width: 200px;
    -webkit-animation-name: rua;
            animation-name: rua;
    -webkit-animation-duration: 100s;
            animation-duration: 100s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-timing-function: normal;
            animation-timing-function: normal;
}
@-webkit-keyframes rua {
    0%{
        left: 0px; top: 400px;
    }
    18%{
        left: 1000px; top: 0px;
    }
    40%{
        left: 1000px; top: 0px;
        -webkit-transform: rotateZ(90deg);
                transform: rotateZ(90deg);
    }
    55%{
        left: 1000px; top: 500px;
        -webkit-transform: rotateZ(90deg);
                transform: rotateZ(90deg);
    }
    75%{
        left: 1000px; top: 500px;
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
    }
    90%{
        left: 0px; top: 400px;
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
    }
    100%{
        left: 0px; top: 400px;
    }
}
@keyframes rua {
    0%{
        left: 0px; top: 400px;
    }
    18%{
        left: 1000px; top: 0px;
    }
    40%{
        left: 1000px; top: 0px;
        -webkit-transform: rotateZ(90deg);
                transform: rotateZ(90deg);
    }
    55%{
        left: 1000px; top: 500px;
        -webkit-transform: rotateZ(90deg);
                transform: rotateZ(90deg);
    }
    75%{
        left: 1000px; top: 500px;
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
    }
    90%{
        left: 0px; top: 400px;
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
    }
    100%{
        left: 0px; top: 400px;
    }
}



#botkhi{
    z-index: 200;
    top: 300px;
    position: absolute;
    width: 100px;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-name: botkhi;
            animation-name: botkhi;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
}
@-webkit-keyframes botkhi{
    0%{left: 0px; top: 500px;}
    100%{left: 0px; top: 0px;}
}
@keyframes botkhi{
    0%{left: 0px; top: 500px;}
    100%{left: 0px; top: 0px;}
}
#botkhi2{
    z-index: 200;
    top: 300px;
    position: absolute;
    width: 100px;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-name: botkhi2;
            animation-name: botkhi2;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
}
@-webkit-keyframes botkhi2{
    0%{left: 1300px; top: 500px;}
    100%{left: 1300px; top: 0px;}
}
@keyframes botkhi2{
    0%{left: 1300px; top: 500px;}
    100%{left: 1300px; top: 0px;}
}
